# <span style="color: #a286c7ff; font-weight:700;">for loop</span>
<hr style="border: 2px solid #4c268aff;">

<b>Desiree Valois</b>
<br>Computer Engineer

## Iterating Over a List

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for n in numbers:
    if n%2 == 0:
        print(n)

2
4
6
8
10

In [2]:
# List comprehension
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
results = [n for n in numbers if n%2 == 0]
results

[2, 4, 6, 8, 10]

## Iterating Over a Dictionary

In [3]:
for char in "Hello World":
    print(char)

H
e
l
l
o

W
o
r
l
d

In [7]:
# key-value pair
employee = { 'name' : ['Zoro', 'Roronoa'],
             'position' :['analyst', 'developer'],
             'salary' :['100000','200000']
            }
for key in employee:
    print(key)

name
position
salary

In [8]:
employee['salary']

['100000', '200000']

In [9]:
for value in employee.values():
    print(value)

['Zoro', 'Roronoa']
['analyst', 'developer']
['100000', '200000']

## Lambda Function

In [14]:
def mul_by_2(x):
    x = 2*x
    return x
mul_by_2(4)

8

In [18]:
y = 8
x = (lambda x : 2*x)(y)
x

16

In [19]:
type(x)

int

In [ ]:
y = 8.4
x = (lambda x : 2*x)(y)
x

16.8

In [17]:
type(x)

float